 <footer class="container">
  <div class="row mt20">
    <div class="col-md-4 text-left">
      <h4>Open Source</h4>
      <p>This site is under the MIT license</p>
    </div>
    <div class="col-md-4 text-left">
      <h4>Big thank you to:</h4>
      <ul>
        <li>Chris Pine</li>
        <li>Michael Hartl</li>
        <li>General Assembly</li>
        <li>Udacity</li>
      </ul>
    </div>
    <div class="col-md-4 text-left">
      <h4>Problem?</h4>
      <p>If you spot a typo, broken link, or any other error please submit an issue on the github repo. Thanks in advance!</p>
    </div>
  </div> 
</footer>
