 <footer class="container">
  <div class="row mt20">
    <div class="col-md-4 text-left">
      <h4>Open Source</h4>
      <p>This site is under the MIT license</p>
    </div>
    <div class="col-md-4 text-left">
      <h4>Big thank you to:</h4>
      <ul>
        <li><a href="https://pine.fm/">Chris Pine</a></li>
        <li><a href="http://www.michaelhartl.com/">Michael Hartl</a></li>
        <li><a href="https://generalassemb.ly/">General Assembly</a></li>
        <li><a href="https://www.udacity.com/">Udacity</a></li>
        <li><a href="https://www.codeschool.com/">Code School</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-left">
      <h4>Problem?</h4>
      If you spot a typo, broken link, or any other error please <a href="https://github.com/dorothythurston/become-a-developer/issues">submit an issue on the github repo</a>. Thanks in advance!
    </div>
  </div> 
</footer>
